// Variables
//

$onoffcanvasZindex: 1001 !default;

$transitionTime: .3s !default;
$transitionFunction: ease !default;
// $transitionFunction: cubic-bezier(.68,-0.55,.27,1.55) !default;

$toggleBtnSize: 2.5rem !default;
$toggleBtnBorderWidth: 2px !default;
$toggleBtnBorderColor: #adb5bd !default;
